<!html>
<HTML>
  <HEAD>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="scripts.js"></script>
  </HEAD>
  <BODY>
    <script>
    document.write('<p id="jstext">' + Date() + '</p>')
    </script>
    
    <h1>Cori Oliveira's Portfolio</h1>
    <p>
      <a href="#About Me">About Me</a>
      &nbsp;&nbsp;
      <a href="#Projects">Projects</a>
      &nbsp;&nbsp;
      <a href="#Interests">Interests</a>
      &nbsp;&nbsp;
      <a href="#Favorite Websites">Favorite Websites</a>
      &nbsp;&nbsp;
      <a href="reflections.html">Reflections</a>
    </p>
    <img src="cori.jpg" alt="Me in New York" class="center" width="925" op>
    &nbsp;
    <h2><a id="About Me">About Me</a></h2>
    <p>I was born on September 19, 2001 in New York City and moved to Miami at the age of four. I speak three languages: English, Portuguese, and Spanish, and I am currently learning German. My interest for computer sciences first arose when my parents got me my first computer- I began to mess around with the settings and learn the computer inside out. I currently attend Miami Beach Senior High School as a Junior. I am an active member of my school's Brazilian Club as well as a member of the Girls Who Code sisterhood. In the future, I intend on pursuing either biochemistry, computer sciences, or photography. </p>
    &nbsp;
    <h3><a id="Projects">Projects</a></h3>
    <p>Chicken on the Run</p>
    <img src="games.png" alt="Chicken on the Run" width="1040" class="center">
    &nbsp;
    <h4><a id="Interests">Interests</a></h4>
      <ul>
        <li>Photography (35mm film)
        <li>Darkroom Developing
        <li>Photoshop
        <li>Computer Animation
        <li>Robotics
        <li>Fashion
        <li>Biology
        <li>Chemistry
        <li>Social Justice
        <li>Cinematography
      </ul>
    &nbsp;
    <h5><a id="Favorite Websites">Favorite Websites</a></h5>
     <ul>
       <li><a href="http://www.refinery29.com">Refinery29</a>
       <li><a href="https://video.vice.com/en_us">Vice Videos</a>
       <li><a href="https://rookiemag"
     </ul>
    &nbsp;
  </BODY>
</HTML>
