<!html>
<HTML>
<HEAD>
  <link rel="stylesheet" type="text/css" href="stylereflection.css">
</HEAD>
<BODY>
  &nbsp;
  <H1>Cori Oliveira's Reflections</H1>
  <p><a href="portfolio.html">Back To Homepage</a>
  <SECTION class="box">
  <!--  Blog Title -->
  &nbsp;
  &nbsp;
  <H2>creating a website: 06/29/2017</H2>
  <!--  Paragraph -->
   <p class="log">Today I got to edit my portfolio and include it to have a reflections page and a "core4" page. I never knew how to create a website and being able to create one is such a good experience!</p>
  </SECTION>
&nbsp;
&nbsp;
  <SECTION class="box">
  <!--  Blog Title -->
  <H2>i love my ceviche!: 06/29/2017</H2>
  <!--  Paragraph -->
   <p>Lunch was great today!  I hope they bring that everyday.</p>
  </SECTION>

</BODY>
</HTML>
