h1 {
  color: #000000;
  font-family: arial;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #ff0000;
}
a:focus {
    color: black;
}
a:active {
    color: black;
}
p {
  color: #000000;
  font-family: arial;
  font-size: 17px;
  font-style: bold;
  text-align: left;
  font-style: italic;
}
H2 {
  color: #000000;
  font-family: arial;
  font-size: 18px;
  font-style: italic;
  text-align: left;
}
